<div>
	<h4 style="text-align: right; alight; right; float: right;">
		<a href="../home">Home</a> 
	</h4>
</div>

<h4>Realtor: {{ RealtorKey }}</h4>
{% if avgRev == -1 %}
	<h4>Realtor doesn't have any reviews yet</h4>
{% else %}
	<h4>Realtor Average Rating: {{ avgRev }}</h4>
{% endif %}
<h4>Description: {{ Description }}</h4>
<h4>Zip Code: {{ Location }}</h4>
<h4>Contact Info: {{ ContactInfo }}</h4>
<a href="Houses/?r_realtorkey={{ RealtorKey }}">Houses</a>
<br>
<a href="Review?r_realtorkey={{ RealtorKey }}">Write a Review for {{ RealtorKey }}</a>
