<div>
	<h4>
		<a style="text-align: right; align: right; float: right;" href="../../Logout/">Logout</a>
	</h4>
</div>
<div>
	<h1>
		Edit House: {{ house_id }}
	</h1>
</div>
<ul>
	{% for imgLink in Pictures %}
		<li>
			<img src={{ imgLink }} style="width:256px;border:0;">
		</li>
	{% endfor %}
</ul>
<form method="POST" action="AddPic">
{% csrf_token %}
<button type="submit">Add Picture</button>
</form>
<br>
<form method "POST" action="">
<label>Address</label>
<label></label>
<input type="text" name="HouseKey" value = {{ Address }}>
<br>
<label>Construction Year</label>
<input type="text" name="ConstructionYear" value = {{ ConstructionYear }}>
<br>
<label>Is This House Pet Friendly?</label>
<br>
{% if petFriendly == "Y" %}
	<input type="radio" name = "petFriendly" value="Y" checked>Pet Friendly<br>
	<input type="radio" name = "petFriendly" value="N">Not Pet Friendly<br>
{% else %}
	<input type="radio" name = "petFriendly" value="Y">Pet Friendly<br>
	<input type="radio" name = "petFriendly" value="N" checked>Not Pet Friendly<br>
{% endif %}
<br>
<label>Number of Bedrooms</label>
<input type="text" name="NumRooms" value = {{ NumRooms }}>
<br>
<label>Number of Bathrooms</label>
<input type="text" name="NumBath" value = {{ NumBath }}>
<br>
<label>Size of House In Sq Feet</label>
<input type="text" name="HouseSize" value = {{ HouseSize }}>
<br>
<label>Appliances</label>
<input type="text" name="Appliances" value = {{ Appliances }}>
<br>
<label>Leasing or Selling</label>
<br>
{% if sellStatus == "S" %}
	<input type="radio" name = "SellStatus" value="S" checked>Selling<br>
	<input type="radio" name = "SellStatus" value="L">Leasing<br>
{% else %}
	<input type="radio" name = "SellStatus" value="S">Selling<br>
	<input type="radio" name = "SellStatus" value="L"checked>Leasing<br>
{% endif %}
<br>
<label>Price</label>
<input type="text" name="Price" value = {{ Price }}>
<br>
<label>Contains a Garage</label>
<br>
<input type="text" name="Garage" value = {{ Garage }}>
<br>
<label>House Description</label>
<input type="textarea" name="Description" value = {{ Description }}>
<br>
<label>Additional Information</label>
<input type="textarea" name="AdditionalInfo" value = {{ AdditionalInfo }}>
<br>
<label>Address</label>
<input type="text" name="Address" value = {{ Address }}>
<br>
<label>Location</label>
<input type="text" name="location" value = {{ Location }}>
<br>
<button type="submit">Submit</button>
</form>
