<div>
	
	<h4 style="text-align: right; alight; right; float: right;">
		<a href="../../home">Home</a> 
		<a href="../../Logout/">Logout</a>
	</h4>
</div>
<div>
	<h1>
		Edit House: {{ house_id }}
	</h1>
</div>
<ul>
	{% for imgLink in Pictures %}
		<li>
			<img src="{{ imgLink }}" style="width:256px;border:0;">
		</li>
	{% endfor %}
</ul>
<form method="GET" action="AddPic">
	<input type="hidden" name="h_housekey" value = "{{HouseKey}}">
	<button type="submit">Add Picture</button>
</form>
<br>

<form method="POST" action="">
{% csrf_token %}
<label>Construction Year</label>
<input type="text" name="ConstructionYear" value = "{{ ConstructionYear }}">
<br>
<label>Is This House Pet Friendly?</label>
<br>
{% if PetFriendly == "Y" %}
	<input type="radio" name = "PetFriendly" value="Y" checked>Pet Friendly<br>
	<input type="radio" name = "PetFriendly" value="N">Not Pet Friendly<br>
{% else %}
	<input type="radio" name = "PetFriendly" value="Y">Pet Friendly<br>
	<input type="radio" name = "PetFriendly" value="N" checked>Not Pet Friendly<br>
{% endif %}
<input type = "" name="HouseKey" value = "{{ HouseKey }}">
<br>
<label>Number of Bedrooms</label>
<input type="text" name="NumRooms" value = "{{ NumRooms }}">
<br>
<label>Number of Bathrooms</label>
<input type="text" name="NumBath" value = "{{ NumBath }}">
<br>
<label>Size of House In Sq Feet</label>
<input type="text" name="HouseSize" value = "{{ HouseSize }}">
<br>
<label>Appliances</label>
<input type="text" name="Appliances" value = "{{ Appliances }}">
<br>
<label>Leasing or Selling</label>
<br>
{% if SellStatus == "S" %}
	<input type="radio" name = "SellStatus" value="S" checked>Selling<br>
	<input type="radio" name = "SellStatus" value="L">Leasing<br>
{% else %}
	<input type="radio" name = "SellStatus" value="S">Selling<br>
	<input type="radio" name = "SellStatus" value="L"checked>Leasing<br>
{% endif %}
<br>
<label>Price</label>
<input type="text" name="Price" value = "{{ Price }}">
<br>
<label>Contains a Garage</label>
<br>
<input type="text" name="Garage" value = "{{ Garage }}">
<br>
<label>House Description</label>
<input type="textarea" name="Description" value = "{{ Description }}">
<br>
<label>Additional Information</label>
<input type="textarea" name="AdditionalInfo" value = "{{ AdditionalInfo }}">
<br>
<label>Address</label>
<input type="text" name="Address" value = "{{ Address }}">
<br>
<label>Zip Code</label>
<input type="text" name="Location" value = "{{ Location }}">
<br>
<button type="submit">Submit</button>
</form>
