<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<div>
	
	<h4 style="text-align: right; alight; right; float: right;">
		<a href="../../home">Home</a> 
		<a href="../../Logout/">Logout</a>
		<a href="../../Account/">Account</a>
	</h4>
</div>
<div>
	<h1>
		Edit House: {{ house_id }}
	</h1>
</div>
<ul>
	{% for imgLink in Pictures %}
		<li>
			<img src="{{ imgLink }}" style="width:256px;border:0;">
		</li>
	{% endfor %}
</ul>
<form method="GET" action="AddPic">
	<input type="hidden" name="h_housekey" value = "{{HouseKey}}">
	<button type="submit">Add Picture</button>
</form>
<br>

<form method="POST" action="">
{% csrf_token %}
<label>Construction Year</label>
<input type="text" name="ConstructionYear" value = "{{ ConstructionYear }}">
<br>
<label>Is This House Pet Friendly?</label>
<br>
{% if PetFriendly == "Y" %}
	<input type="radio" name = "PetFriendly" value="Y" checked>Pet Friendly<br>
	<input type="radio" name = "PetFriendly" value="N">Not Pet Friendly<br>
{% else %}
	<input type="radio" name = "PetFriendly" value="Y">Pet Friendly<br>
	<input type="radio" name = "PetFriendly" value="N" checked>Not Pet Friendly<br>
{% endif %}
<input type = "" name="HouseKey" value = "{{ HouseKey }}">
<br>
<label>Number of Bedrooms</label>
<input type="text" name="NumRooms" value = "{{ NumRooms }}">
<br>
<label>Number of Bathrooms</label>
<input type="text" name="NumBath" value = "{{ NumBath }}">
<br>
<label>Size of House In Sq Feet</label>
<input type="text" name="HouseSize" value = "{{ HouseSize }}">
<br>
<label>Appliances</label>
<input type="text" name="Appliances" value = "{{ Appliances }}">
<br>
<label>Leasing or Selling</label>
<br>
{% if SellStatus == "S" %}
	<input type="radio" name = "SellStatus" value="S" checked>Selling<br>
	<input type="radio" name = "SellStatus" value="L">Leasing<br>
{% else %}
	<input type="radio" name = "SellStatus" value="S">Selling<br>
	<input type="radio" name = "SellStatus" value="L"checked>Leasing<br>
{% endif %}
<br>
<label>Price</label>
<input type="text" name="Price" value = "{{ Price }}">
<br>
<label>Contains a Garage</label>
<br>
{% if Garage == "Y" %}
	<input type="radio" name = "Garage" value="Y" checked>Contains a Garage<br>
	<input type="radio" name = "Garage" value="N">Does not Contain a Garage<br>
{% else %}
	<input type="radio" name = "Garage" value="Y">Contains a Garage<br>
	<input type="radio" name = "Garage" value="N"checked>Does not Contain a Garage<br>
{% endif %}
<br>
<label>House Description</label>
<textarea name="Description" value = "{{ Description }}"></textarea>
<br>
<label>Additional Information</label>
<textarea name="AdditionalInfo" value = "{{ AdditionalInfo }}"></textarea>
<br>
<label>Address</label>
<input type="text" name="Address" value = "{{ Address }}">
<br>
<label>Zip Code</label>
<input type="text" name="Location" value = "{{ Location }}">
<br>
<button type="submit">Submit</button>
</form>
<form method="POST" action="DeleteHouse">
	{% csrf_token %}
	<input type="hidden" name="HouseKey" value="{{ house_id }}">
	<button type="submit">Delete House</button>
</form>
