<!DOCTYPE html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<html>

	<h1>Search</h1>
	<h4>If you would like to see all houses, just press search</h4>
	<h4>If field is left empty it will default to the min(0)/max(99 million) value</h4>
        <body>
                <table>
                <tr>
                        <a style="text-align: right; align: right; float: right;" href="../home/">Home</a>
                        <form method="GET" action="../search/">
                        {% csrf_token %}
			<label>ZipCode: </label>
                        <input type="text" placeholder="ZipCode 5 Digits" name="zipcode"><br>
                        <label>Price: </label>
                        <input type="text" placeholder="Min" name="minPrice">
                        <input type="text" placeholder="Max" name="maxPrice"><br>
                        <label>Year: </label>
                        <input type="text" placeholder="Build after" name = "ayear">
                        <input type="text" placeholder="Build before" name = "byear"><br>
                        <label>Rating: </label>
                        <input type="text" placeholder="Lowest" name = "lstar">
                        <input type="text" placeholder="Highest" name = "hstar">
                        <br>
                        <label>Rooms: </label>
                        <input type="text" placeholder="min" name = "minroom">
                        <input type="text" placeholder="max" name = "maxroom">
                        <br>
                        <label>Bathrooms: </label>
                        <input type="text" placeholder="min" name = "minbthm">
                        <input type="text" placeholder="max" name = "maxbthm">
                        <br>
                        <input type="reset" value="Reset">
                        <button type="submit">Search</button><br>

                        </form>

                </tr>
                </table>
        </body>
</html>
