<form method="POST" action="">
{% csrf_token %}
<label>Username</label>
<input type="text" name="username">
<br>
<label>Password</label>
<input type="password" name="password">
<br>
<label>Verify Password</label>
<input type="password" name="passwordVerify">
<br>
<br>
<label>Type Of Account</label>
<br>
<input type="radio" name = "type" value="R" checked>Realtor<br>
<input type="radio" name = "type" value="U">User<br>
<input type="radio" name = "type" value="S">Service Provider<br>
<button type="submit">Submit</button>
</form>
