<div>
	<h4 style="text-align: right; alight; right; float: right;">
		<a href="../home">Home</a> 
	</h4>
</div>
<div>
	<h1>
		House: {{ Address }}
	</h1>
</div>
<ul>
	{% for imgLink in Pictures %}
		<li>
			<img src="{{ imgLink }}" style="width:256px;border:0;">
		</li>
	{% endfor %}

<h4>Address: {{ Address }}</h4>
<h4>Price: {{ Price }}</h4>
<h4>Number of Bedrooms: {{ NumRooms }}</h4>
<h4>Number of Bathrooms: {{ NumBath }}</h4>
<h4>Size of House In Sq Feet: {{ HouseSize }}</h4>
<h4>Zip Code: {{ Location }}</h4>
<h4>Construction Year: {{ ConstructionYear }}</h4>
<h4>House Description: {{Description}}</h4>
<h4>Additional Information: {{ AdditionalInfo }}</h4>
{% if PetFriendly == "Y" %}
	<h4>This house is pet friendly</h4>
{% else %}
	<h4>This house is not pet friendly</h4>
{% endif %}
<h4>Appliances: {{ Appliances }}</h4>
{% if sellStatus == "S" %}
	<h4>Realtor is Selling this house</h4>
{% else %}
	<h4>Realtor is Leasing this house</h4>
{% endif %}
{% if Garage == "Y" %}
	<h4>This House Contains a Garage</h4>
{% else %}
	<h4>This House Contains a Garage</h4>
{% endif %}
{% if provider_list|length > 0 %}
	<h3>Services That Can Be Provided For This House:</h3>
	<ol>
	{% for SP in provider_list %}
		<li>
		<a href="../../ServiceProvider/ViewService?s_providerKey={{ SP.key }}">{{ SP.Description }}</a>
		</li>
	{% endfor %}
	</ol>
{% endif %}
