<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<div>
	<h4 style="text-align: right; alight; right; float: right;">
		<a href="../home">Home</a> 
	</h4>
</div>
<div>
	<h1>
		House: {{ Address }}
	</h1>
</div>
<ul>
	{% for imgLink in Pictures %}
		<li>
			<img src="{{ imgLink }}" style="width:256px;border:0;">
		</li>
	{% endfor %}
<ul>

{% if realtorList|length > 0 %}
	<h3>Realtors That Are In Charge Of This House:</h3>
	<ol>
	{% for realtor in realtorList %}
		<li>
		<a href="../../Realtor/ShowRealtor?r_realtorkey={{ realtor.key }}">{{ realtor.Description }}</a>
		</li>
	{% endfor %}
	</ol>
{% endif %}

<h4>Address: {{ Address }}</h4>
<h4>Price: {{ Price }}</h4>
<h4>Number of Bedrooms: {{ NumRooms }}</h4>
<h4>Number of Bathrooms: {{ NumBath }}</h4>
<h4>Size of House In Sq Feet: {{ HouseSize }}</h4>
<h4>Zip Code: {{ Location }}</h4>
<h4>Construction Year: {{ ConstructionYear }}</h4>
<h4>House Description: {{Description}}</h4>
<h4>Additional Information: {{ AdditionalInfo }}</h4>
{% if PetFriendly == "Y" %}
	<h4>This house is pet friendly</h4>
{% else %}
	<h4>This house is not pet friendly</h4>
{% endif %}
<h4>Appliances: {{ Appliances }}</h4>
{% if sellStatus == "S" %}
	<h4>Realtor is Selling this house</h4>
{% else %}
	<h4>Realtor is Leasing this house</h4>
{% endif %}
{% if Garage == "Y" %}
	<h4>This House Contains a Garage</h4>
{% else %}
	<h4>This House Contains a Garage</h4>
{% endif %}
{% if provider_list|length > 0 %}
	<h3>Services That Can Be Provided For This House:</h3>
	<ol>
	{% for SP in provider_list %}
		<li>
		<a href="../../ServiceProvider/ViewService?s_providerKey={{ SP.key }}">{{ SP.Description }}</a>
		</li>
	{% endfor %}
	</ol>
{% endif %}
